li.cast_list_header{
    font-variant: small-caps;
}
li.cast_item{
    font-variant: small-caps;
}
li.cast_group{
    font-variant: small-caps;
}
span.name{
    font-variant: small-caps;
}
span.speaker{
    font-variant: small-caps;
}